resources/shading.mp4
resources/target/00001.png
resources/target/00002.png
resources/target/00003.png
resources/target/00004.png
resources/target/00005.png
resources/target/00006.png
resources/target/00007.png
resources/target/00008.png
resources/target/00009.png
resources/target/00010.png
resources/target/00011.png
resources/target/00012.png
resources/target/00013.png
resources/target/00014.png
resources/target/00015.png
resources/target/00016.png
resources/target/00017.png
resources/target/00018.png
resources/target/00019.png
resources/target/00020.png
resources/target/00021.png
resources/target/00022.png
resources/target/00023.png
resources/target/00024.png
resources/target/00025.png
resources/target/00026.png
resources/target/00027.png
resources/target/00028.png
resources/target/00029.png
resources/target/00030.png
resources/target/00031.png
resources/target/00032.png
resources/target/00033.png
resources/target/00034.png
resources/target/00035.png
resources/target/00036.png
resources/target/00037.png
resources/target/00038.png
resources/target/00039.png
resources/target/00040.png
resources/target/00041.png
resources/target/00042.png
resources/target/00043.png
resources/target/00044.png
resources/target/00045.png
resources/target/00046.png
resources/target/00047.png
resources/target/00048.png
resources/target/00049.png
resources/target/00050.png
resources/target/00051.png
resources/target/00052.png
resources/target/00053.png
resources/target/00054.png
resources/target/00055.png
resources/target/00056.png
resources/target/00057.png
resources/target/00058.png
resources/target/00059.png
resources/target/00060.png
resources/target/00061.png
resources/target/00062.png
resources/target/00063.png
resources/target/00064.png
resources/target/00065.png
resources/target/00066.png
resources/target/00067.png
resources/target/00068.png
resources/target/00069.png
resources/target/00070.png
resources/target/00071.png
resources/target/00072.png
resources/target/00073.png
resources/target/00074.png
resources/target/00075.png
resources/target/00076.png
resources/target/00077.png
resources/target/00078.png
resources/target/00079.png
resources/target/00080.png
resources/target/00081.png
resources/target/00082.png
resources/target/00083.png
resources/target/00084.png
resources/target/00085.png
resources/target/00086.png
resources/target/00087.png
resources/target/00088.png
resources/target/00089.png
resources/target/00090.png
resources/target/00091.png
resources/target/00092.png
resources/target/00093.png
resources/target/00094.png
resources/target/00095.png
resources/target/00096.png
resources/target/00097.png
resources/target/00098.png
resources/target/00099.png
resources/target/00100.png
resources/tmp/00000.png
resources/tmp/00001.png
resources/tmp/00002.png
resources/tmp/00003.png
resources/tmp/00004.png
resources/tmp/00005.png
resources/tmp/00006.png
resources/tmp/00007.png
resources/tmp/00008.png
resources/tmp/00009.png
resources/tmp/00010.png
resources/tmp/00011.png
resources/tmp/00012.png
resources/tmp/00013.png
resources/tmp/00014.png
resources/tmp/00015.png
resources/tmp/00016.png
resources/tmp/00017.png
resources/tmp/00018.png
resources/tmp/00019.png
resources/tmp/00020.png
resources/tmp/00021.png
resources/tmp/00022.png
resources/tmp/00023.png
resources/tmp/00024.png
resources/tmp/00025.png
resources/tmp/00026.png
resources/tmp/00027.png
resources/tmp/00028.png
resources/tmp/00029.png
resources/tmp/00030.png
resources/tmp/00031.png
resources/tmp/00032.png
resources/tmp/00033.png
resources/tmp/00034.png
resources/tmp/00035.png
resources/tmp/00036.png
resources/tmp/00037.png
resources/tmp/00038.png
resources/tmp/00039.png
resources/tmp/00040.png
resources/tmp/00041.png
resources/tmp/00042.png
resources/tmp/00043.png
resources/tmp/00044.png
resources/tmp/00045.png
resources/tmp/00046.png
resources/tmp/00047.png
resources/tmp/00048.png
resources/tmp/00049.png
resources/tmp/00050.png
resources/tmp/00051.png
resources/tmp/00052.png
resources/tmp/00053.png
resources/tmp/00054.png
resources/tmp/00055.png
resources/tmp/00056.png
resources/tmp/00057.png
resources/tmp/00058.png
resources/tmp/00059.png
resources/tmp/00060.png
resources/tmp/00061.png
resources/tmp/00062.png
resources/tmp/00063.png
resources/tmp/00064.png
resources/tmp/00065.png
resources/tmp/00066.png
resources/tmp/00067.png
resources/tmp/00068.png
resources/tmp/00069.png
resources/tmp/00070.png
resources/tmp/00071.png
resources/tmp/00072.png
resources/tmp/00073.png
resources/tmp/00074.png
resources/tmp/00075.png
resources/tmp/00076.png
resources/tmp/00077.png
resources/tmp/00078.png
resources/tmp/00079.png
resources/tmp/00080.png
resources/tmp/00081.png
resources/tmp/00082.png
resources/tmp/00083.png
resources/tmp/00084.png
resources/tmp/00085.png
resources/tmp/00086.png
resources/tmp/00087.png
resources/tmp/00088.png
resources/tmp/00089.png
resources/tmp/00090.png
resources/tmp/00091.png
resources/tmp/00092.png
resources/tmp/00093.png
resources/tmp/00094.png
resources/tmp/00095.png
resources/tmp/00096.png
resources/tmp/00097.png
resources/tmp/00098.png
resources/tmp/00099.png
resources/tmp/00100.png
src/__pycache__/__init__.cpython-38.pyc
src/__pycache__/__init__.cpython-311.pyc
src/decalib/__pycache__/__init__.cpython-38.pyc
src/decalib/__pycache__/deca.cpython-38.pyc
src/decalib/data/.DS_Store
src/decalib/data/deca_model.tar
src/decalib/data/fixed_displacement_256.npy
src/decalib/data/FLAME_masks_face-id.pkl
src/decalib/data/FLAME_masks.pkl
src/decalib/data/FLAME2020.zip
src/decalib/data/generic_model.pkl
src/decalib/data/head_template.obj
src/decalib/data/landmark_embedding.npy
src/decalib/data/mean_texture.jpg
src/decalib/data/texture_data_256.npy
src/decalib/data/uv_face_eye_mask.png
src/decalib/data/uv_face_mask.png
src/decalib/data/FLAME2020/female_model.pkl
src/decalib/data/FLAME2020/male_model.pkl
src/decalib/data/FLAME2020/Readme.pdf
src/decalib/datasets/__pycache__/datasets.cpython-38.pyc
src/decalib/datasets/__pycache__/detectors.cpython-38.pyc
src/decalib/models/__pycache__/decoders.cpython-38.pyc
src/decalib/models/__pycache__/encoders.cpython-38.pyc
src/decalib/models/__pycache__/FLAME.cpython-38.pyc
src/decalib/models/__pycache__/lbs.cpython-38.pyc
src/decalib/models/__pycache__/resnet.cpython-38.pyc
src/decalib/utils/__pycache__/config.cpython-38.pyc
src/decalib/utils/__pycache__/renderer.cpython-38.pyc
src/decalib/utils/__pycache__/rotation_converter.cpython-38.pyc
src/decalib/utils/__pycache__/tensor_cropper.cpython-38.pyc
src/decalib/utils/__pycache__/util.cpython-38.pyc
src/facematting/u2net_human_seg.pth
src/facematting/__pycache__/u2net_matting.cpython-38.pyc
src/facematting/__pycache__/u2net.cpython-38.pyc
src/facepose/__pycache__/draw_utils.cpython-38.pyc
src/facepose/__pycache__/face_landmark.cpython-38.pyc
src/facepose/__pycache__/motion_utils.cpython-38.pyc
src/facepose/__pycache__/mp_utils.cpython-38.pyc
src/facepose/__pycache__/mp_utils.cpython-311.pyc
src/modules/__pycache__/__init__.cpython-38.pyc
src/modules/__pycache__/__init__.cpython-311.pyc
src/modules/__pycache__/head_net.cpython-38.pyc
src/modules/__pycache__/head_net.cpython-311.pyc
src/modules/__pycache__/light_net.cpython-38.pyc
src/modules/__pycache__/light_net.cpython-311.pyc
src/modules/__pycache__/ref_net.cpython-38.pyc
src/modules/__pycache__/ref_net.cpython-311.pyc
src/modules/__pycache__/unet.cpython-38.pyc
src/modules/__pycache__/unet.cpython-311.pyc
src/pipelines/__pycache__/pipeline_relightalbepa_composer.cpython-38.pyc
src/pipelines/__pycache__/pipeline_relightalbepa_composer.cpython-311.pyc
resources_difareli++/shading.mp4
resources_difareli++/target/00000.png
resources_difareli++/target/00001.png
resources_difareli++/target/00002.png
resources_difareli++/target/00003.png
resources_difareli++/target/00004.png
resources_difareli++/target/00005.png
resources_difareli++/target/00006.png
resources_difareli++/target/00007.png
resources_difareli++/target/00008.png
resources_difareli++/target/00009.png
resources_difareli++/target/00010.png
resources_difareli++/target/00011.png
resources_difareli++/target/00012.png
resources_difareli++/target/00013.png
resources_difareli++/target/00014.png
resources_difareli++/target/00015.png
resources_difareli++/target/00016.png
resources_difareli++/target/00017.png
resources_difareli++/target/00018.png
resources_difareli++/target/00019.png
resources_difareli++/target/00020.png
resources_difareli++/target/00021.png
resources_difareli++/target/00022.png
resources_difareli++/target/00023.png
resources_difareli++/target/00024.png
resources_difareli++/target/00025.png
resources_difareli++/target/00026.png
resources_difareli++/target/00027.png
resources_difareli++/target/00028.png
resources_difareli++/target/00029.png
resources_difareli++/target/00030.png
resources_difareli++/target/00031.png
resources_difareli++/target/00032.png
resources_difareli++/target/00033.png
resources_difareli++/target/00034.png
resources_difareli++/target/00035.png
resources_difareli++/target/00036.png
resources_difareli++/target/00037.png
resources_difareli++/target/00038.png
resources_difareli++/target/00039.png
resources_difareli++/target/00040.png
resources_difareli++/target/00041.png
resources_difareli++/target/00042.png
resources_difareli++/target/00043.png
resources_difareli++/target/00044.png
resources_difareli++/target/00045.png
resources_difareli++/target/00046.png
resources_difareli++/target/00047.png
resources_difareli++/target/00048.png
resources_difareli++/target/00049.png
resources_difareli++/target/00050.png
resources_difareli++/target/00051.png
resources_difareli++/target/00052.png
resources_difareli++/target/00053.png
resources_difareli++/target/00054.png
resources_difareli++/target/00055.png
resources_difareli++/target/00056.png
resources_difareli++/target/00057.png
resources_difareli++/target/00058.png
resources_difareli++/target/00059.png
resources_difareli++/target/00060.png
result_mint_g3.mp4
result_mint_g4p5.mp4
result_mint_g6.mp4
result_mint_g8.mp4
resources_difareli++/shading.mp4
resources_difareli++/target/00001.png
resources_difareli++/target/00002.png
resources_difareli++/target/00003.png
resources_difareli++/target/00004.png
resources_difareli++/target/00005.png
resources_difareli++/target/00006.png
resources_difareli++/target/00007.png
resources_difareli++/target/00008.png
resources_difareli++/target/00009.png
resources_difareli++/target/00010.png
resources_difareli++/target/00011.png
resources_difareli++/target/00012.png
resources_difareli++/target/00013.png
resources_difareli++/target/00014.png
resources_difareli++/target/00015.png
resources_difareli++/target/00016.png
resources_difareli++/target/00017.png
resources_difareli++/target/00018.png
resources_difareli++/target/00019.png
resources_difareli++/target/00020.png
resources_difareli++/target/00021.png
resources_difareli++/target/00022.png
resources_difareli++/target/00023.png
resources_difareli++/target/00024.png
resources_difareli++/target/00025.png
resources_difareli++/target/00026.png
resources_difareli++/target/00027.png
resources_difareli++/target/00028.png
resources_difareli++/target/00029.png
resources_difareli++/target/00030.png
visualize_scripts/tuning_grid_relipa